<div class="container mt-10">
<h2 class="card-header">Stupid Coaching</h2>
<div class="container card-header m-10 p-20 " style="background-color: #feeafa">
<h3> <%= @question %></h3>
<h6>--you</h6>
</div>
<div class="container  card-header m-10 p-20" style="background-color: #dee2ff">
<h3> <%= @answer %> </h3>
<h6>--Coach</h6>
</div>
<%= link_to "Ask again", ask_path %>
</div>
