<div class="container">
<h1>Hello Sunshine!</h1>
<h4>Ask your question:</h4>
<form action="/answer" data-turbo="false" >
<div class="input-group mb-3">
  <input type="text" name="question" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
  <input type="submit" value="Ask your question!" class="btn-primary form-control">
  </div>
</div>
</form>
</div>
